h1 {
    color: red; 
    font-size: 50px; 
}
h2 {
    color:seagreen
}
h1,h2{
    color: purple
}
h1{
    color: red
}
li{
    color: orange
}
h1{

    border-style: groove;
}
h1 {

    background-image:url("lanternbackground.jpg")
}